PORT=
MONGO_URL=
JWT_SECRET=



# ==============================================
# Mongodb (Cloud mongodb atlas)
# ==============================================
DATABASE_URL=

# ==============================================
# POSTGRES LOCAL (Docker Compose)
# ==============================================

DB_USER=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=

# ==============================================
# NEON (Cloud PostgreSQL)
# ==============================================
NEON_DATABASE_URL=
# ==============================================
# OUTRAS CONFIGURAÇÕES
# ==============================================
NODE_ENV=development





## TRoque se etiver na vm ou local
# .env (desenvolvimento)
VITE_API_URL=http://localhost:3333 ou http://3.134.116.31:3333
